boto
bs4
credstash
cryptography
flask
git+https://github.com/andyhd/flask-assets.git@f479d0f9b663d75bf887f4a1498e590d0b365970#egg=flask-assets
flask-humanize
flask-mail
flask-markdown
flask-migrate
flask-script
flask-security
flask-sqlalchemy
flask-wtf
gunicorn
jinja-to-js
libsass
markdown
psycopg2
pytest
pytest-cov
pytest-eradicate
pytest-flake8
pytest-flask
pytest-spec
pytest-splinter
python-jose
raven
requests
sqlalchemy-searchable
