{% extends "base.html" %}

{% block endhead %}
  {% assets "css_notes" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}
{% endblock %}

{% macro tag_list(title, tags, edit=False, ns=None) %}
  <section class="tag-type-section">

    <h2 class="heading-medium tag-type-title">
      {{ title }}
      {% if edit -%}
        <a class="edit-link">Edit</a>
      {%- endif %}
    </h2>

    <ul class="tag-list-block">
    {% for tag in tags %}
      <li class="note-tag{% if tag.usage_count %} note-tag--count{% endif %}">
        <a href="{{ tag.url }}">{{ tag.name }}</a>
        {% if tag.usage_count %}
          <span class="tag-quantity">{{ tag.usage_count }}</span>
        {% endif %}
      </li>
    {% endfor %}
    </ul>

    {% if edit %}
    <section class="tag-list-edit">
      <label class="form-label">Edit your tags</label>
      {% for tag in tags %}
      <form action="{{ url_for('notes.tags') }}" method="post" class="form tag-edit">
        <div class="tag-entry-group">
          <input type="hidden" name="id" value="{{ tag.id }}">
          {% if ns %}<input type="hidden" name="namespace" value="{{ tag.namespace }}">{% endif %}
          <input type="text" name="name" value="{{ tag.name }}" data-initial="{{ tag.name }}" class="form-control tag-entry-field">
          <button class="button save-btn">Save</button>
          <button class="button secondary-btn">Delete</button>
        </div>
      </form>
      {% endfor %}
    </section>
    {% endif %}

    {% if ns == "Competency" %}
    <details>
      <summary class="help-text">Why can't I edit these tags?</summary>
    </details>
    {% elif ns == "System" %}
    <details>
      <summary class="help-text">How are these generated?</summary>
    </details>
    {% endif %}

  </section>
{% endmacro %}

{% block body_content %}

  <div class="test">
    <a href="{{ url_for('notes.list') }}" class="link-back">Back to all notes</a>

    <h1 class="heading-large">
      Manage your tags
    </h1>
    <p class="lede">
      Use this page to manage the tags you use to organise your notes
    </p>
  </div>

  <section class="notes-section">

    {{ tag_list("Your tags", user_tags, edit=True) }}

    {{ tag_list("Objective tags", objective_tags, edit=True, ns="Objective") }}

    {{ tag_list("Competency tags", competency_tags, ns="Competency") }}

    {{ tag_list("System tags", system_tags, ns="System") }}

  </section>

{% endblock %}
