{% extends "govuk_template/views/layouts/govuk_template.html" %}

{% block head %}

  <!-- gov uk elements stylesheet -->
  {% assets "css_govuk_elements", "css_main" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {% block endhead %}{% endblock %}

{% endblock %}

{% block content %}
  {% block body_content %}{% endblock %}
{% endblock %}
